/* CONFIGURAÇÕES GERAIS DA PÁGINA */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Righteous|Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid silver;
}

body{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    background-color: #333333;
}

.boxInter{
    width: 80%;
}

a{
    list-style: none;
    text-decoration: none;
}

.lineText{
    width: 20px;
    height: 1px;
    background-color: #CBA135;
    margin-right: 10px;
}

.divButton{
    width: fit-content;
    background-image: linear-gradient(to right, #B07418, #CBA135);
    padding: 8px 20px;
    border-radius: 50px;
    color: #FFF;
    font-weight: 800;
}

/* CONGFIGURAÇÕES DOS ELEMENTOS */

/* DIV GERAL */
#geral{
    width: 100vw;
    border: 1px solid red;
}

/* BARRA SUPERIOR E MENU DE NAVEGAÇÃO */
#navBarTop{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 5px #292929;
}

#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#boxLogo{
    font-size: 40px;
    font-family: 'Righteous', cursive;
    color: #CBA135;
    text-shadow: 3px 3px 0px #292929;
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
}

.itemNav{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    transition: ease 300ms;
}

.itemNav:hover{
    border-bottom: 5px solid #CBA135;
}


/* ESTILIZAÇÃO DA HEADER */
#header{
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #000, #333);
}

#subHeader{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxHeader{
    width: 50%;
    min-width: 300px;
}

#leftHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#rightHeader{
    background-image: url(../img/imgHeader.png);
    background-size: 80%;
    background-position: right;
    background-repeat: no-repeat;
}

#textNameHeader{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    margin: 10px 0px;
}

.textDec{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

#skillsBox{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.itemSkill{
    width: 25%;
    margin: 10px 0;
}

.textSkill{
    font-size: 13px;
}

/* ESTILIZAÇÃO DA SESSÃO SOBRE MIM */
#aboutMe{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#subAbout{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.boxAbout{
    width: 50%;
    min-width: 300px;
    padding: 5px;
}

#aboutLeft{
    height: 100%;
    background-image: url(../img/me.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border: 1px solid red;
}

#textInfoOne{
    font-weight: bold;
}

#textInfoTwo{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.textInfoTree{
    font-size: 15px;
    font-weight: 100;
    text-align: left;
}



/* -----------------------ESTILIZAÇÃO MOBILE----------------------- */
@media screen and (max-width: 600px){

    #navBar{
        width: 100px;
        display: flex;
        justify-content: center;
    }

    #boxNav{
        display: none;
    }

    /* ESTILIZAÇÃO DA HEADER */
    #header{
        height: fit-content;
        padding: 50px 0;
    }

    #textNameHeader{
        font-size: 40px;
    }

    #rightHeader{
        display: none;
    }


    /* ESTILIZAÇÃO DA SESSÃO SOBRE MIM */
    #aboutMe{
        height: fit-content;
    }

    .boxAbout{
        width: 100%;
    }

    #aboutLeft{
        width: 250px;
        height: 250px;
    }
    #aboutRight{
        height: 50%;
    }
}